
.vs/config/applicationhost.config
.vs/launch.vs.json
.vs/slnx.sqlite
.vs/Talent/DesignTimeBuild/.dtbcache
.vs/Talent/v15/.suo
.vs/Talent/v15/Server/sqlite3/db.lock
.vs/Talent/v15/Server/sqlite3/storage.ide
.vs/Talent/v15/Server/sqlite3/storage.ide-shm
.vs/Talent/v15/Server/sqlite3/storage.ide-wal
.vs/task2/v15/.suo
App/Talent.App.WebApp/obj/Debug/netcoreapp2.0/Talent.App.WebApp.csproj.CoreCompileInputs.cache
Talent.Api/obj/Debug/netcoreapp2.0/Talent.Api.csproj.CoreCompileInputs.cache
Talent.Api/obj/Debug/netcoreapp2.0/Talent.Api.csprojAssemblyReference.cache
Talent.Common/obj/Debug/netcoreapp2.0/Talent.Common.assets.cache
Talent.Common/obj/Debug/netcoreapp2.0/Talent.Common.csproj.CoreCompileInputs.cache
Talent.Services.Identity/obj/Debug/netcoreapp2.0/Talent.Services.Identity.csproj.CoreCompileInputs.cache
Talent.Services.Identity/obj/Debug/netcoreapp2.0/Talent.Services.Identity.csprojAssemblyReference.cache
Talent.Services.Listing/obj/Debug/netcoreapp2.0/Talent.Services.Talent.assets.cache
Talent.Services.Listing/obj/Debug/netcoreapp2.0/Talent.Services.Talent.csproj.CoreCompileInputs.cache
Talent.Services.Listing/obj/Debug/netcoreapp2.0/Talent.Services.Talent.csprojAssemblyReference.cache
Talent.Services.Profile/obj/Debug/netcoreapp2.0/Talent.Services.Profile.csproj.CoreCompileInputs.cache
Talent.Services.Profile/obj/Debug/netcoreapp2.0/Talent.Services.Profile.csprojAssemblyReference.cache
App/Talent.App.WebApp/obj/Debug/netcoreapp2.0/Talent.App.WebApp.csproj.CoreCompileInputs.cache
Talent.Api/obj/Debug/netcoreapp2.0/Talent.Api.csproj.CoreCompileInputs.cache
Talent.Common/obj/Debug/netcoreapp2.0/Talent.Common.csproj.CoreCompileInputs.cache
Talent.Services.Identity/obj/Debug/netcoreapp2.0/Talent.Services.Identity.csproj.CoreCompileInputs.cache
Talent.Services.Listing/obj/Debug/netcoreapp2.0/Talent.Services.Talent.csproj.CoreCompileInputs.cache
Talent.Services.Profile/obj/Debug/netcoreapp2.0/Talent.Services.Profile.csproj.CoreCompileInputs.cache
